/* Input za boje (manje stilizovan) */
.colorPicker {
    margin-left: 10px;
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Stil za poruke konobarice */
.konobarica {
    color: #ff6347; /* Boja za Konobaricu */
    font-weight: bold; /* Bold za Konobaricu */
    font-style: italic; /* Italic za Konobaricu */
}

/* Stil za sistemske poruke */
.system-message {
    font-style: italic;
    color: #888;
}



